<a href="https://colab.research.google.com/github/vagabondboffin/EDAProject/blob/main/DAProject_May7th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import plotly.express as px
import seaborn as sns
from scipy import stats
from sklearn import preprocessing

In [3]:
data = pd.read_csv('transactionsSel.csv',engine='python')
#sort by date (not a required step since it will be automaticely done in most applications.)
data['instance_date'] = pd.to_datetime(data['instance_date'], dayfirst = True)
data["instance_date"] = data["instance_date"].astype('datetime64[ns]')
data.sort_values(by='instance_date', inplace = True)

## Adjusting prices for inflation rate

I found annual inflation rates from this link:
https://www.statista.com/statistics/297779/uae-inflation-rate/

We must indexed our data to the last year prices. I’m using the last data value to create the index, so that prices will be indexed to today’s prices. Indexed inflations are stored in 'CPI_Multiplier' column. Since our data is annual (I couldn't find monthly inflation rates/CPIs), I merged inflation data and transaction data by 'year'. Adjusted prices are in adjMeterPrice column.

The decreasing trend in inflation rates for some following years results in negative values for adjusted prices. This suggests that when considering the inflation, prices have actually dropped.

In [4]:
inflationRate = pd.read_csv('inflationRate.csv',engine='python')
inflationRate['CPI_Multiplier'] = inflationRate['rate'].iloc[-1] / inflationRate['rate']
data = pd.merge(data, inflationRate, how='left', on='year')
data['adjMeterPrice'] = data['meter_sale_price'] * data['CPI_Multiplier']

## separate dataset by transaction types 

Previously, id and arabic columns were dropped.

In [26]:
data['trans_group_en'].unique()
data = data.iloc[: , 1:]

In [29]:
#separate into sub-datasets
dfSales = data[data['trans_group_en'] == 'Sales']
dfGifts = data[data['trans_group_en'] == 'Gifts']
dfMortgages = data[data['trans_group_en'] == 'Mortgages']

## Sale subdataset

In [20]:
x = dfSales[['meter_sale_price','adjMeterPrice']].values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
normalized_prices = pd.DataFrame(x_scaled)

In the following section, number of missing values and unique values for each attribute is reported. columns with number of unique values less than 50 are stored in selectedCol.

In [42]:
selectedCol = []
for column in dfSales:
    numRow = dfSales.shape[0]
    print(f'attribute name: {column}')
    row = dfSales[column]
    print(f' number of missing values: {numRow - row.count()}')
    #print(f' percentage of missing values: {(numRow - row.count()) / numRow}')
    print(f' number of unique values: {row.nunique()}')
    print('+++++++++++++++++++++++++++++++++++++++++++++')
    if row.nunique() < 50:
      selectedCol.append(column)

attribute name: trans_group_en
 number of missing values: 0
 number of unique values: 1
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: procedure_name_en
 number of missing values: 0
 number of unique values: 18
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: property_type_en
 number of missing values: 0
 number of unique values: 4
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: property_sub_type_en
 number of missing values: 137913
 number of unique values: 17
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: property_usage_en
 number of missing values: 0
 number of unique values: 11
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: reg_type_en
 number of missing values: 0
 number of unique values: 2
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: area_name_en
 number of missing values: 0
 number of unique values: 237
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: building_name_en
 number of missing values: 200437
 number of unique values: 3351
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: project_name_en
 number of missing values: 242374
 number of unique values: 1943
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: master_project_en
 number of missing values: 119851
 number of unique values: 170
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: nearest_landmark_en
 number of missing values: 104262
 number of unique values: 14
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: nearest_metro_en
 number of missing values: 185248
 number of unique values: 56
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: nearest_mall_en
 number of missing values: 189178
 number of unique values: 5
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: rooms_en
 number of missing values: 144927
 number of unique values: 16
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: has_parking
 number of missing values: 0
 number of unique values: 2
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: procedure_area
 number of missing values: 0
 number of unique values: 68428
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: actual_worth
 number of missing values: 849
 number of unique values: 194650
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: meter_sale_price
 number of missing values: 0
 number of unique values: 466481
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: no_of_parties_role_1
 number of missing values: 1137
 number of unique values: 54
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: no_of_parties_role_2
 number of missing values: 1137
 number of unique values: 27
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: no_of_parties_role_3
 number of missing values: 1137
 number of unique values: 14
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: year
 number of missing values: 1
 number of unique values: 27
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: month
 number of missing values: 1
 number of unique values: 12
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: meter_rent_price
 number of missing values: 796800
 number of unique values: 0
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: instance_date
 number of missing values: 1
 number of unique values: 6877
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: Unnamed: 0_y
 number of missing values: 1
 number of unique values: 27
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: rate
 number of missing values: 1
 number of unique values: 26
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: CPI_Multiplier
 number of missing values: 1
 number of unique values: 26
+++++++++++++++++++++++++++++++++++++++++++++
attribute name: adjMeterPrice
 number of missing values: 1
 number of unique values: 596033
+++++++++++++++++++++++++++++++++++++++++++++

In [51]:
print(selectedCol)

['trans_group_en', 'procedure_name_en', 'property_type_en', 'property_sub_type_en', 'property_usage_en', 'reg_type_en', 'nearest_landmark_en', 'nearest_mall_en', 'rooms_en', 'has_parking', 'no_of_parties_role_2', 'no_of_parties_role_3', 'year', 'month']